{:deps    {org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                                    :sha     "3d32b5e571b98e2930a7b2ed1dd9551bb269375a"}}
 :aliases {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}}}
